.about {
  padding: 3rem 1.5rem 0;
  font-family: var(--ff-sans);
}

.about__title {
  margin-bottom: 1rem;
  color: var(--clr-navy);
}

.about__desc {
  margin-bottom: 1rem;
  color: var(--clr-text);
}

@media (min-width: 768px) {
  .about {
    padding: 4rem 20% 0;
  }
}
